<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <head>
<meta charset="UTF-8">
<title>ListarPratos</title>
<link rel="stylesheet" type="text/css" href="/css/materialize.min.css"/>
</head>

<body >
	  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Queijo Brabo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li> <a href="/gerente/listar">Listar Pratos</a></li>
        <li ><a sec:authorize="isAuthenticated()" href="/pedido/listar">Ver Pedidos</a></li>
        <li><a sec:authorize=" hasRole('ROLE_USER') "href="/carrinho/listar">Ver Carrinho</a></li>
        <li><a sec:authorize="!isAuthenticated()" href="/cliente/cadastrar">Fazer Cadastro</a></li>
        <li><a sec:authorize="!isAuthenticated()" href="/login">Logar</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
		

 
<table  class="table" th:each = "item: ${session.carrinho.getItens()}">


	<thead >
    <tr >
      <th scope="col">Carrinho</th>
    </tr>
   </thead >
  <thead >
    <tr >
      <th scope="col">Nome</th>
      <th scope="col">Preco Unitario</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Preco Total</th>
      <th scope="col">Imagem</th>
      <th></th>
      <th></th>
      <th></th>
     
    </tr>
  </thead>
 	  <tbody class="p-3 mb-2 bg-info text-white">
	    <tr >
	      <td th:text = "${item.prato.nome}"></td> 
	      <td th:text = "'R$'+${item.prato.preco}"></td>
	      <td th:text = "${item.quantidade}"></td>
	      <td th:text = "'R$'+${item.prato.preco}*${item.quantidade}"></td>

	      <td><img  width ="200" height="200"class="rounded-pill" th:src ="@{'/imagens/'+${item.prato.nome}+.png}"/></td>
          <td> <a th:href ="@{/carrinho/aumentarqtd/{codigo}(codigo=${item.prato.codigo})}"><button type="button" class="btn btn-danger">+</button></a> 
	      <td> <a th:href ="@{/carrinho/diminuirqtd/{codigo}(codigo=${item.prato.codigo})}"><button type="button" class="btn btn-danger">-</button></a> 
	      
	      <td> <a th:href ="@{/carrinho/excluir/{codigo}(codigo=${item.prato.codigo})}"><button type="button" class="btn btn-danger">Remover</button></a> 
	      
	      	    
	      
	    </tr>
	  </tbody>

</table>
	
	 <h3 > Total do Pedido: R$ <span th:text="${session.carrinho.calcTotal()}"></span> <i class="fas fa-smile-wink" style="font-size: 30px"></i></h3>
	 <a th:href ="@{/pedido/confirmar}"><button type="button" class="btn btn-danger">Confirmar Pedido</button></a> 
	 
	 <a href="/gerente/listar"><button class ="btn btn-secondary float-right">Listar Pratos</button></a>
	  <a href="/pedido/listar"><button class ="btn btn-secondary float-left">Ir para listagem de pedidos</button></a>
	

<script src ="/js/materialize.min.js"></script>

</body>
</html>